@*@model Blog.Models.Post*@
@model IEnumerable<Blog.Models.Post>


@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title.</h2>
<p>
    @Html.ActionLink("Create New Post", "Create", "Posts")
</p>


@*@foreach (var item in Model)
{
    @Html.DisplayFor(modelItem => item.PostTitle)
    @Html.DisplayFor(modelItem => item.PostContent)
    @Html.DisplayFor(modelItem => item.MediaUrl)
    <br />
    <pre>@Html.DisplayFor(modelItem => item.PostCreationDate)</pre>

}*@


