@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    @Html.DisplayFor(modelItem => item.MediaUrl)
    @Html.DisplayFor(modelItem => item.PostTitle)
    <hr />
    @Html.DisplayFor(modelItem => item.PostContent)
    <br />
    @Html.DisplayFor(modelItem => item.PostCreationDate)
    @Html.ActionLink("Edit", "Edit", new { id=item.Id })
    @Html.ActionLink("Details", "Details", new { id=item.Id })
    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
    <hr />
}
