@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "List";
}

<h2>@ViewBag.Title.</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <p align="center">
        @*<img src="~/images/@Model.FilePaths.First(f => f.FileType == FileType.Photo)).FileName" alt="" />*@
        @Html.DisplayFor(modelItem => item.MediaUrl)
        @*<img src="@Url.Content(@Model.MediaUrl)" />*@
    </p>
    <br />
    <h2>@Html.DisplayFor(modelItem => item.PostTitle)</h2>
    <hr />
    @Html.DisplayFor(modelItem => item.PostContent)
    <br />
    <br />
    <pre>Published: @Html.DisplayFor(modelItem => item.PostCreationDate)</pre>
    <br />
    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
    @Html.ActionLink("Details", "Details", new { id = item.Id })
@Html.ActionLink("Delete", "Delete", new { id = item.Id })
<br />
<br />
<hr />
}
